@model  Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Se o número de clientes seja maior do que 0, a variável
    className recebe o valor "popular". Senão, recebe null *@
@{ var className = Model.Customers.Count > 0 ? "popular" : null; }

@* esse elemento terá atribuída uma classe, se tiver conteúdo na variável className *@
<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>Ninguém alugou este filme ainda.</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

