@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

@if(!Model.Any())
{
    <p>Não temos nenhum cliente ainda.</p>
}
else
{
    <p>
        @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Cliente</th>
            <th>Associação</th>
        </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@customer.Name, "Edit", new {customer.Id})</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

